body {
  background: ghostwhite;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1, h2 {
  text-align: center;
}

.container, .container2 {
  display: flex; 
  justify-content:center;
}

.tile:hover {
  opacity: 0.4;
}

.tooltip {
    background: ghostwhite;	
    border: 1px solid black;
    font: 14px sans-serif;
    height: auto;				
    padding: 5px 10px;	
    pointer-events: none;
    position: absolute;			
    width: 250px;						
}

text {
  font-size: 10px;
  font-weight: bold;
  overflow: hidden;
}