body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1, h2 {
  text-align: center;
}

.container {
  display: flex; 
  justify-content:center;
}

.county:hover {
  fill: green;
}

.tooltip {
    position: absolute;			
    width: 200px;					
    height: auto;					
    padding: 5px 10px;				
    font: 14px sans-serif;		
    background: lavender;	
    border: 0px;		
    pointer-events: none;
}

text {
  font-size: 14px;
}